<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log In / Sign Up</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel='stylesheet' href='https://unicons.iconscout.com/release/v2.1.9/css/unicons.css' crossorigin="anonymous">
    <link rel="stylesheet" href="../css/login.css">
    <link rel="stylesheet" href="../css/colors.css">
</head>
<body>
<header class="p-3 mb-3">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="/" class="nav-link px-2">Main page</a></li>
                <li><a href="/teams" class="nav-link px-2">Teams</a></li>
                <li><a href="/" class="nav-link px-2 link-disabled">My team</a></li>
                <li><a href="/" class="nav-link px-2">Users</a></li>
                <li><a href="/about" class="nav-link px-2">About</a></li>
            </ul>

        </div>
    </div>
</header>
<div class="section">
    <div class="container">
        <div class="row full-height justify-content-center">
            <div class="col-12 text-center align-self-center py-5">
                <div class="section pb-5 pt-5 pt-sm-2 text-center">
                    <h6 class="mb-0 pb-3"><span>Log In </span><span>Sign Up</span></h6>
                    <input class="checkbox" type="checkbox" id="reg-log" name="reg-log"/>
                    <label for="reg-log"></label>
                    <div class="card-3d-wrap mx-auto">
                        <div class="card-3d-wrapper">
                            <div class="card-front">
                                <div class="center-wrap">
                                    <div class="section text-center">
                                        <h4 class="mb-4 pb-3">Log In</h4>
                                        <div class="form-group">
                                            <label for="logname"></label><input type="text" name="logname"
                                                                                class="form-style"
                                                                                placeholder="Your Login" id="logname"
                                                                                autocomplete="off">
                                            <i class="input-icon uil uil-user"></i>
                                        </div>
                                        <div class="form-group mt-2">
                                            <label for="logpass"></label><input type="password" name="logpass"
                                                                                class="form-style"
                                                                                placeholder="Your Password" id="logpass"
                                                                                autocomplete="off">
                                            <i class="input-icon uil uil-lock-alt"></i>
                                        </div>
                                        <a class="btn mt-4" id="login-button">submit</a>
                                        <p class="mb-0 mt-4 text-center"><a href="#" class="link forgot">Forgot your
                                            password?</a></p>
                                    </div>
                                </div>
                            </div>
                            <div class="card-back">
                                <div class="center-wrap">
                                    <div class="section text-center">
                                        <h4 class="mb-4 pb-3">Sign Up</h4>
                                        <div class="form-group">
                                            <label for="sinname"></label><input type="text" name="logname"
                                                                                class="form-style"
                                                                                placeholder="Your Nickname" id="sinname"
                                                                                autocomplete="off">
                                            <i class="input-icon uil uil-user"></i>
                                        </div>
                                        <div class="form-group mt-2">
                                            <label for="sinemail"></label><input type="email" name="logemail"
                                                                                 class="form-style"
                                                                                 placeholder="Your Email" id="sinemail"
                                                                                 autocomplete="off">
                                            <i class="input-icon uil uil-at"></i>
                                        </div>
                                        <div class="form-group mt-2">
                                            <label for="sinpass"></label><input type="password" name="logpass"
                                                                                class="form-style"
                                                                                placeholder="Your Password" id="sinpass"
                                                                                autocomplete="off">
                                            <i class="input-icon uil uil-lock-alt"></i>
                                        </div>
                                        <a class="btn mt-4" id="signup-button">submit</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="module" src="../js/login.js"></script>
</body>
</html>