<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/profile.css">
    <link rel="stylesheet" href="../css/one_user.css">
    <title>Profile</title>

</head>
<body>
<header class="p-3 mb-3">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="/" class="nav-link px-2">Main page</a></li>
                <li><a href="/teams" class="nav-link px-2">Teams</a></li>
                {% if auth %}
                    <li><a href="/create_team" class="nav-link px-2">Create team</a></li>
                    <li><a href="/users" class="nav-link px-2">Users</a></li>
                    <li><a href="/my_teams" class="nav-link px-2">My team</a></li>
                {% endif %}
                <li><a href="/about" class="nav-link px-2">About</a></li>
            </ul>

            <div class="dropdown text-end">
                <a href="#" class="d-block text-decoration-none dropdown-toggle" id="dropdownUser"
                   data-bs-toggle="dropdown" aria-expanded="false">
                    {% if user.photo and user.photo != "" %}
                        <img class="rounded-circle" width="32px" src="{{ user.photo }}" alt="qwe">
                    {% else %}
                        <img class="rounded-circle" width="32px" src="../icons/logo_white.png" alt="qwe">
                    {% endif %}
                </a>
                <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser">
                    <li><a class="dropdown-item" href="/profile">Profile</a></li>
                    <li><a class="dropdown-item" href="/about">About us</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item signout">Sign out</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>

<div class="container rounded form-background mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5">

                {% if user.photo and user.photo != "" %}
                    <img class="rounded-circle mt-5 profile-image" width="150px" src="{{ user.photo }}" alt="qwe">
                {% else %}
                    <img class="rounded-circle mt-5 profile-image" width="150px" src="../icons/logo_white.png"
                         alt="qwe">
                {% endif %}
                <span class="font-weight-bold" id="prof-email"
                      style="font-size:18pt; margin-top: 10px; ">{{ user.email }}</span>
            </div>
        </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h3 class="text-right">{{ user.login }}</h3>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6">
                        <label for="firname" class="form-label">Имя</label>
                        <input type="text" readonly
                               class="form-control"
                               id="firname"
                               placeholder="First Name"
                                {% if user.name and user.name !="" %}
                                    value="{{ user.name }}"
                                {% endif %}
                        >
                    </div>
                    <div class="col-md-6">
                        <label for="surname" class="form-label">Фамилия</label>
                        <input type="text" readonly
                               class="form-control"
                               id="surname"
                               placeholder="Surname"
                                {% if user.surname %}
                                    value="{{ user.surname }}"
                                {% else %}
                                    value=""
                                {% endif %}
                        >
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6">
                        <label for="city" class="form-label">Город</label>
                        <input type="text" readonly
                               class="form-control"
                               id="city"
                               placeholder="City"
                                {% if user.city %}
                            value="{{ user.city }}"
                        {% else %}
                            value=""
                                {% endif %}>
                    </div>
                    <div class="col-md-6">
                        <div class="sec-center">
                            <label class="form-label" for="dropdown" id="user_lvl_label">Уровень</label>
                            <input class="dropdown" type="checkbox" id="dropdown" name="dropdown"/>
                            <label class="for-dropdown" for="dropdown" id="user_lvl">
                                {% if user.level %}
                                    {% if user.level == "Nobody" %}
                                        Nobody
                                        <i class="uil uil-annoyed"></i>
                                    {% endif %}
                                    {% if user.level == "Entry" %}
                                        Entry
                                        <i class="uil uil-kid"></i>
                                    {% endif %}
                                    {% if user.level == "Intern" %}
                                        Intern
                                        <i class="uil uil-meh"></i>
                                    {% endif %}
                                    {% if user.level == "Junior" %}
                                        Junior
                                        <i class="uil uil-meh-closed-eye"></i>
                                    {% endif %}
                                    {% if user.level == "Junior+/Pre-middle" %}
                                        Junior+/Pre-middle <i class="uil uil-unamused"></i>
                                    {% endif %}
                                    {% if user.level == "Middle" %}
                                        Middle
                                        <i class="uil uil-nerd"></i>
                                    {% endif %}
                                    {% if user.level == "Middle+" %}
                                        Middle+
                                        <i class="uil uil-ninja"></i>
                                    {% endif %}
                                    {% if user.level == "Senior" %}
                                        Senior
                                        <i class="uil uil-surprise"></i>
                                    {% endif %}
                                {% else %}
                                    Уровень не указан
                                {% endif %}
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12">
                        <label for="bio" class="form-label">Краткая информация</label>
                        <textarea class="form-control" readonly
                                  id="bio"
                                  rows="10"
                                  placeholder="Put your bio here!"
                                  style="resize: none;"
                                  maxlength="500">{% if user.bio %}{{ user.bio }}{% else %}{% endif %}</textarea>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6">
                        <label for="tg" class="form-label">Ссылка на Telegram <i class="uil uil-telegram"></i></label>
                        <input type="text" readonly
                               class="form-control"
                               placeholder="tg"
                               id="tg"
                                {% if user.tg %}
                            value="{{ user.tg }}"
                        {% else %}
                            value=""
                                {% endif %}>
                    </div>
                    <div class="col-md-6">
                        <label for="git" class="form-label">Ссылка на github <i class="uil uil-github"></i></label>
                        <input type="text" readonly
                               class="form-control"
                               placeholder="git"
                               id="git"
                                {% if user.git %}
                                    value="{{ user.git }}"
                                {% else %}
                                    value=""
                                {% endif %}
                        ></div>
                </div>

            </div>
        </div>
        <div class="col-md-4">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center experience">
                    <h4>Competences</h4>
                </div>
                <br>
                <div id="competences">{% for competence in user.competences %}
                        <h5><span class="badge bg-competence"> {{ competence }}</span></h5>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
<script type="module" src="../js/one_user.js"></script>
<script type="module" src="../js/main.js"></script>
</body>
</html>